{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT</title>
    <style>
     .show{
       background-color: black;
       color: whitesmoke;
       text-align: center;
       font-size: xx-large;
     }
     body{
          background-color:  gray;
          background-image: url("{% static 'css/photogrid.jpg' %}");
           
     }
     .see
     {
      text-align: right;
      font-size: 80px;
      color: black;

     }
    </style>
</head>
<body>
    <div class="show"><p1> your exam has finished ! stay tuned .</p1>
        <h4>meet you again bye bye!!</h4>
        <center><h1> Congratulation ! you will succeed soon .</h1></center> </div>
        <p1 class="see"> Do not worry, your exam went well.</p1>
        <center style="padding: 100px;"><h4>@Thanks a million for using our CBT-software !</h4></center>
        <h5> Developer : @Anamika Kumari</h5>
        <center><h6>All rights reserve to CBT.</h6></center> 
         
     
</body>
</html>